body{
    padding: 0px;
    margin: 0px;
}
div.form-student, div.list-student{
    width: 500px;
    border: 1px solid #ccc;
    margin: 25px;
    padding: 10px;
    float: left;
    font-size: 12px;
}
div.list-student{
    width: 500px;
}
div.form-student h3{
    padding: 0px;
    margin-top: 0px;
}
div.form-student label{
    width: 100px;
    float: left;
}
div.form-student input[type="text"],div.form-student input[type="password"]{
    margin-bottom: 10px;
    width: 200px;
    padding: 5px;
}
button{
    margin-left: 50px;
    margin-top: 15px;
    padding: 8px 20px;
    outline: none;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    background-color:gray;
    color: white;
}
button:hover{
    color:red;
    background-color:aquamarine; 
}
.error{
    color: red;
}